
@{
    ViewBag.Title = "Connexion";
}

<h2>Connexion</h2>

@using (Html.BeginForm("Login", "Authentification", FormMethod.Post)) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Nom d'utilisateur", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="NomUtilisateur" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Mot de passe", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="password" name="MotDePasse" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Se connecter" class="btn btn-primary" />
            </div>
        </div>
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-danger col-md-offset-2 col-md-10">
                @ViewBag.Message
            </div>
        }
    </div>
}
